@font-face {
    font-family: ds-digit;
    src: url('./fonts/DS-DIGI.TTF') format('truetype');
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}